<div class="text-center main-bg">
  <div class="container">
    <h1 class="font-bold">To-Do App!</h1>
    <h2 class="font-bold">Add New To-Do</h2>
    <br>
    <app-input></app-input>
    <br>
  </div>
</div>

<hr>

<div class="text-center main-bg">
  <div class="container">
    <app-list></app-list>
  </div>
</div>