.main-bg {
	min-height: 100vh;
  background: #2196F3; // Get color code from https://materialuicolors.co/
  color: whitesmoke;
  display: flex;
  align-items: center;
}

.font-bold {
  font-weight: bold;
}

.add-button {
  color: whitesmoke;
  border-color: #B3D7FF;
  &:hover {
    color: #2196F3;
    background: #B3D7FF;
  }
}

.table {
  color: whitesmoke;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 0.1rem solid rgba(49, 178, 238, 0.1);
}