<h1 class="font-bold">List of tasks</h1>

<div *ngIf="tasks.length <= 0">
  <p>{{pageMessage}}</p>
</div>

<div *ngIf="showMessage" class="alert alert-success" role="alert">
  {{removeMessage}}
</div>

<div class="table-responsive" *ngIf="tasks.length > 0"> 
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th scope="col">Tasks</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let task of tasks">
      <tr>
        <td>{{task}}</td>
        <td><button class="btn btn-sm btn-danger" (click)="removeTaskList(task)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
  