<form #addTaskForm="ngForm" (ngSubmit)="onAddTask(addTaskForm)" novalidate>
  <div *ngIf="showMessage" class="alert alert-success" role="alert">
    {{addMessage}}
  </div>
  <br>
  <input class="form-control" placeholder="Enter new task" name="newTask" ngModel required #newTask="ngModel">
  <br>
  <button class="btn add-button">Add</button>
</form>